.addCourse_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  overflow-y: hidden !important;
}

.addCourse_paper {
  margin-top: 30px !important;
}

.addCourse_input {
  width: 320px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.btn_search {
  margin-left: 20px;
}

.addCourse_results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .addCourse_input {
    width: 260px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 990px) {
  .addCourse_input {
    width: 240px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .btn_search {
    margin-left: 10px;
  }
}

@media screen and (max-width: 930px) {
  .addCourse_input {
    width: 200px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .btn_search {
    margin-left: 10px;
  }
}

@media screen and (max-width: 850px) {
  .addCourse_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 30px !important; */
    /* margin-bottom: 30px !important; */
    /* background-color: coral; */
  }

  .addCourse_input {
    width: 300px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .btn_search {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 350px) {
  .addCourse_paper {
    margin-top: -10px !important;
  }
  .addCourse_input {
    width: 240px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .btn_search {
    margin-left: 10px;
  }
}
